* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
  margin: 0;
}

::selection {
  background: #ffe987 !important;
  color: #212529 !important;
}

::-moz-selection {
  background: #ffe987 !important; /* Firefox */
  color: #212529 !important;
}

.parent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.child{
  margin: 50vh auto 0;
  transform: translateY(-50%) !important;
}

h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 900;
  color: #007BFF;
  text-transform: lowercase;
  font-size: 8vw;
}
