* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
  margin: 0;
}

::selection {
  background: #ffe987 !important;
  color: #212529 !important;
}

::-moz-selection {
  background: #ffe987 !important; /* Firefox */
  color: #212529 !important;
}

.parent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.child{
  margin: 50vh auto 0;
  transform: translateY(-50%) !important;
}

h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 900;
  color: #007BFF;
  text-transform: lowercase;
  font-size: 5rem;
}

p {
  color: purple;
  font-family: 'Lora', sans-serif;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  opacity: 0;
}

span {
  letter-spacing: 1px !important;
}

.fade-in {
  animation: fadeIn 1.75s ease 0.5s forwards; 
  -webkit-animation: fadeIn 1.5s ease-in 0.5s forwards;
}
@keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}


@media (max-width: 768px) {h1{font-size: 12vw;}} 
